GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=southamerica-west1

# Cloud Function: bicing_collector
PUBSUB_TOPIC=bicing-raw-data
GBFS_DISCOVERY_URL=https://santiago.publicbikesystem.net/customer/gbfs/v3.0/gbfs.json

# Cloud Function: bicing_writer
RAW_BUCKET=proyecto-bicing-raw
